# Built files and outputs
/[Bb]uild/
/build/
*.apk
*.aar
*.dex
*.class

# Android Studio / IntelliJ IDEA user-specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/deploymentTargetSelector.xml
.idea/navEditor.xml
.idea/.name

# Local configuration files
local.properties
.gradle/
.DS_Store

# Android Studio navigation and preview cache
.navigation/
captures/